<%- include('../includes/header.ejs') %>
<body>
    <div class="products__container">
            <div class="product__card">
                <figure>
                    <img src="pro imge" alt="">
                </figure>
                <figcaption>
                    <p class="title">title</p>
                    <p class="desc">qperuqi</p>
                    <p class="price">price</p>
                    <form action="" method="POST">
                        <button type="submit">add to cart</button>
                    </form>
                </figcaption>
            </div>
    </div>
</body>

</html>